p, h3, span {
    font-family: Arial;
}#deskHeader {
    width: 100%;
    max-width: 100%;
    display: flex;
}
#deskHeader .navBar {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    position: relative;
    width: 100%;
    background-color: grey;
    padding: 1em 0;
}
#deskHeader .navBar img {
    height: 80%;
    margin: 0 2em;
}
#mobHeader .navBar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#mobHeader {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
}
#mobHeader .navBar {
    max-width: 100%;
    width: 100%;
    max-height: 12em;
    position: fixed;
    bottom: 0px;
    border-top: black 1px solid;
}
.deskNavBrugerContainer {
    float: right;
    display: inline-flex; 
    margin-left: auto;
    margin-right: 2em;
}
.deskNavBruger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.mobNavBtn {
    width: 25%;
    max-height: 100%;
    height: 12em;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.mobNavBtn div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}


.YaddaContainer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    background: white;
    border: #f09f54 solid 2px;
    padding: 3%;
}
.YaddaHeader {
    display: flex;
    flex-direction: row;
    max-height: 8em;
    height: 100%;
    width: 100%;
}
.YaddaBruger {
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-direction: row;
}
.YaddaBrugerImg img {
    max-height: 100%;
    max-width: 100%;
    height: 5.5em;
    width: 5.5em;
    border: #f09f54 solid 1px;
}
.YaddaBrugerNavn {
    text-decoration: none;
}
.YaddaBrugerNavn h3 {
    margin: 0 1em;
    
}
.YaddaHeaderRight {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.YaddaListenContainer {
    height: 3em;
    width: 9em;
}
.YaddaListenContainer input {
    opacity: 0;
    width: 0;
    height: 0;
}
.YaddaListenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 3em;
    max-width: 100%;
    height: 3em;
    width: 9em;
    max-height: 100%;
    font-size: 1.5em;
    transition: .4s;
    cursor: pointer;
    
}
.YaddaUnlistenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 1px;
    border-radius: 3em;
    max-width: 100%;
    height: 3em;
    width: 9em;
    max-height: 100%;
    font-size: 1.5em;
    transition: .4s;
    cursor: pointer;
}
.YaddaListen input:checked + .YaddaListenBtn {
    display: none;
}
.YaddaListen input:checked + .YaddaUnlistenBtn {
    display: none;
}
.YaddaLike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.YaddaRate {
    display: flex;
    flex-direction: row;
}

.YaddaTagsContainer {
    display: flex;
    flex-direction: row;
   
}